[submodule "SharedModules"]
	path = SharedModules
	url = https://github.com/toolyq/SharedModules
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/toolyq/MediaServiceCore
